body {
    font-family: sans-serif;
    background-color: #ffa3a3; 
    color: #333;
    line-height: 35px;
    text-align: center;
     margin: 12px;
    padding: 12px;

}
section{
    border: 2px, solid;
      border-radius: 10px;
         margin: auto;
         margin: 20px;
}


a:hover {
    color: #03a300;
     text-decoration: underline;
}
.tutorial-info__content {
    display: inline-block;
}
h1{
    color: white;
}
