.navbar_section {
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    padding: 0.5rem 1rem;
    margin-top: 13px;
}

.navbar {
    max-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 40px;
    cursor: pointer;
}


.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.nav-list a {
    font-size: 16px;
    font-weight: 500;
}

.nav-list a:hover {
    color: #0095f6;
}

.nav-buttons {
    display: flex;
    gap: 12px;
}

.nav-buttons .primary,
.nav-buttons .secondary {
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.nav-buttons .primary {
    background-color: #0095f6;
    border: 1px solid ;
    color: #ffffff;
}

.nav-buttons .primary:hover {
    background-color: #0073e6;
    color: #fff;
}

.nav-buttons .secondary {
    background-color: #0095f6;
    color: #fff;
}

.nav-buttons .secondary:hover {
    background-color: #0073e6;
}