
  section.success-stories {
    max-width: 1024px;
    margin: 0 auto;
  }
  section.success-stories h2 {
    color: #6ca9f8;;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .stories-container {
    display: flex;
    gap: 20px;
  }
  .story-card {
    flex: 1;
    background: #fff;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    border: 1px solid;
  }
  .story-card img {
    width: 100%;
    border-radius: 12px;
  }
  .story-card .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 14px;
    color: #1c1c1c;
    text-decoration: none;
    display: block;
  }
  .story-card .title:hover {
    text-decoration: underline;
    cursor: pointer;
  }